#textoPreto{
    color: green;
}
#textoVermelho{
    color: red;
}
#textoAzul{
    color: blue;
}
#textoViolet{
    color: violet
}
.subtitulo{
    color: white;
    background: black;
}
.palavraPreta{
    color: black;
}