.box1{
    width: 200px;
    height: 200px;
    background-color: rgb(46, 139, 87);
    background-color: rgb(18%, 54.4%, 87);
    background-color: rgba(18%, 54.4%, 87, 0.6);
}
.box2{
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    background-color: #00ff00;
    background-color: #000;
    background-color: #0FF5;
    /* efeito cascata */
}
.box3{
    width: 200px;
    height: 200px;
}