body{
    background-color: aqua;
}
div{
    height: 300px;
    border: 1px solid black;
}
.box1{
    background-color: beige;
    font-size: 40px;
}
.box2{
    background-image: url("https://images.unsplash.com/photo-1696356261348-fbea2cb5d2cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1942&q=80");
    
}
.box3{
    background-image: url(./shawn-mendes.jpg);
    background-repeat:repeat-x;
    background-repeat:repeat-y;
    background-repeat:round;
    background-repeat:space;
}